.delete-button {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    background-color: red;
    color: black;
    cursor: pointer;
}
.delete-button:hover {
    background-color: rgb(146, 13, 13);
}
